@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <b>Attendance Application</b> <br />
    <abbr title="Phone">Phone :</abbr>
    01095806810
</address>

<address>
    <strong>Support:</strong>   <a href="#">HUSSINZOGHALY@gmail.com</a><br />
    <strong>WebSite:</strong> <a href="#" target="_blank">www.F X G.com</a>
</address>